<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>N-Air a E-commerce category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="keywords" content="N-Air Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
        <script type="application/x-javascript"> addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        } </script>
        <meta charset utf="8">
        <!--fonts-->
        <link href='//fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>

        <!--fonts-->
        <!--bootstrap-->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
        <!--coustom css-->
        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
        <!--shop-kart-js-->
        <script src="{% static 'js/simpleCart.min.js' %}"></script>
        <!--default-js-->
        <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
        <!--bootstrap-js-->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!--script-->
    </head>
    <body>
        <div class="header">
            <div class="container">
                <div class="header-top">
                    <div class="logo">
                        <a href="{% url 'index' %}">N-AIR</a>
                    </div>
                    <div class="login-bars">
                        <a class="btn btn-default log-bar" href="{% url 'register' %}" role="button">Sign up</a>
                        <form action="/search" method="get">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" class="form-control" name="search" id='{{ product.id }}' placeholder="Search here">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-search">Search</i></button>
                            </div>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!---menu-----bar--->
                <div class="header-botom">
                <div class="content white">
                    <nav class="navbar navbar-default nav-menu" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="clearfix"></div>
                        <!--/.navbar-header-->
                        <div class="collapse navbar-collapse collapse-pdng" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav nav-font">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shop<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url 'products' %}">Shoes</a></li>
                                        <li><a href="{% url 'products' %}">Tees</a></li>
                                        <li><a href="{% url 'products' %}">Tops</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{% url 'products' %}">Tracks</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{% url 'products' %}">Gear</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Men<b class="caret"></b></a>
                                    <ul class="dropdown-menu multi-column columns-3">
                                        <div class="row">
                                            <div class="col-sm-4 menu-img-pad">
                                                <ul class="multi-column-dropdown">
                                                    <li><a href="men-products">Joggers</a></li>
                                                    <li><a href="men-products">Foot Ball</a></li>
                                                    <li><a href="men-products">Cricket</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="men-products">Tennis</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="men-products">Casual</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-4 menu-img-pad">
                                                <a href="#"><img src="/media/menu1.jpg" alt="/" class="img-rsponsive men-img-wid"/></a>
                                            </div>
                                            <div class="col-sm-4 menu-img-pad">
                                                <a href="#"><img src="/media/menu2.jpg" alt="/" class="img-rsponsive men-img-wid"/></a>
                                            </div>
                                        </div>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Women<b class="caret"></b></a>
                                    <ul class="dropdown-menu multi-column columns-2">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <ul class="multi-column-dropdown">
                                                    <li><a href="women-products">Tops</a></li>
                                                    <li><a href="women-products">Bottoms</a></li>
                                                    <li><a href="women-products">Yoga Pants</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="women-products">Sports</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="women-products">Gym</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-6">
                                                <a href="#"><img src="/media/menu3.jpg" alt="/" class="img-rsponsive men-img-wid"/></a>
                                            </div>
                                        </div>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">kids<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url 'products' %}">Tees</a></li>
                                        <li><a href="{% url 'products' %}">Shorts</a></li>
                                        <li><a href="{% url 'products' %}">Gear</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{% url 'products' %}">Watches</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{% url 'products' %}">Shoes</a></li>
                                    </ul>
                                </li>
                                <li><a href="{% url 'contact' %}">Catch</a></li>
                                <div class="clearfix"></div>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <!--/.navbar-collapse-->
                        <div class="clearfix"></div>
                    </nav>
                    <!--/.navbar-->
                    <div class="clearfix"></div>
                </div>
                <!--/.content--->
            </div>
            <!--header-bottom-->
        </div>
    </div>
{% block content %}
{% endblock content %}
    <div class="footer-grid">
        <div class="container">
            <div class="col-md-2 re-ft-grd">
                <h3>Categories</h3>
                <ul class="categories">
                    <li><a href="#">Men</a></li>
                    <li><a href="#">Women</a></li>
                    <li><a href="#">Kids</a></li>
                    <li><a href="#">Formal</a></li>
                    <li><a href="#">Casuals</a></li>
                    <li><a href="#">Sports</a></li>
                </ul>
            </div>
            <div class="col-md-2 re-ft-grd">
                <h3>Short links</h3>
                <ul class="shot-links">
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Delivery</a></li>
                    <li><a href="#">Return Policy</a></li>
                    <li><a href="#">Terms & conditions</a></li>
                    <li><a href="{% url 'contact' %}">Sitemap</a></li>
                </ul>
            </div>
            <div class="col-md-6 re-ft-grd">
                <h3>Social</h3>
                <ul class="social">
                    <li><a href="https://facebook.com/" class="fb">facebook</a></li>
                    <li><a href="https://instagram.com/" class="twt">Instagram</a></li>
                    <li><a href="https://t.me/thedeveloper_boys" class="gpls">Telegram</a></li>
                    <div class="clearfix"></div>
                </ul>
            </div>
            <div class="col-md-2 re-ft-grd">
                <div class="bt-logo">
                    <div class="logo">
                        <a href="{% url 'index' %}" class="ft-log">N-AIR</a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="copy-rt">
            <div class="container">
                <p>&copy; 2022 N-AIR All Rights Reserved. Design by <a href="http://www.w3layouts.com">w3layouts</a></p>
            </div>
        </div>
    </div>
</body>
</html>